.auth-page{

min-height:100vh;

display:flex;

background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?auto=format&fit=crop&w=2200&q=80");

background-size:cover;

background-position:center;

}

.auth-left{

flex:1;

display:flex;

flex-direction:column;

justify-content:center;

padding:90px;

color:white;

}

.auth-left h1{

font-size:62px;

font-weight:800;

margin-bottom:15px;

}

.auth-left h2{

font-size:34px;

color:#F97316;

margin-bottom:25px;

}

.auth-left p{

font-size:20px;

max-width:600px;

line-height:1.8;

color:#ddd;

}

.auth-right{

width:520px;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}

.auth-card{

width:100%;

max-width:450px;

background:rgba(16,16,20,.85);

backdrop-filter:blur(20px);

border-radius:25px;

padding:35px;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 20px 60px rgba(0,0,0,.45);

max-height:90vh;

overflow-y:auto;

}

.logo{

width:75px;

height:75px;

margin:auto;

border-radius:50%;

background:linear-gradient(135deg,#7C3AED,#F97316);

display:flex;

align-items:center;

justify-content:center;

font-size:34px;

margin-bottom:25px;

}

.auth-title{

text-align:center;

font-size:34px;

font-weight:700;

color:white;

margin-bottom:8px;

}

.auth-subtitle{

text-align:center;

margin-bottom:30px;

color:#bbb;

}

.auth-card label{

display:block;

margin-bottom:8px;

font-weight:600;

color:white;

}

.input-box{

display:flex;

align-items:center;

background:#22232D;

padding:0 16px;

border-radius:12px;

margin-bottom:22px;

border:1px solid rgba(255,255,255,.08);

}

.input-box svg{

color:#999;

}

.input-box input{

background:transparent;

border:none;

margin:0;

padding:16px;

color:white;

}

.auth-btn{

width:100%;

padding:15px;

border:none;

border-radius:12px;

font-size:17px;

font-weight:700;

background:linear-gradient(90deg,#7C3AED,#F97316);

color:white;

transition:.3s;

}

.auth-btn:hover{

transform:translateY(-3px);

}

.auth-footer{

margin-top:25px;

text-align:center;

color:#bbb;

}

.auth-footer a{

color:#F97316;

font-weight:700;

}

@media(max-width:900px){

.auth-page{

flex-direction:column;

}

.auth-left{

display:none;

}

.auth-right{

width:100%;

}

}