@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import "./variables.css";

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{

background:var(--bg);

color:var(--text);

overflow-x:hidden;

}

a{
text-decoration:none;
color:inherit;
}

button{

cursor:pointer;

transition:.3s;

font-family:inherit;

}

input,
select,
textarea{

font-family:inherit;

outline:none;

}

img{

max-width:100%;

display:block;

}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#111;

}

::-webkit-scrollbar-thumb{

background:#7C3AED;

border-radius:20px;

}

.glass{

background:rgba(255,255,255,.06);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.1);

border-radius:20px;

box-shadow:0 10px 40px rgba(0,0,0,.3);

}

.primary-btn{

background:linear-gradient(90deg,#7C3AED,#F97316);

border:none;

color:white;

padding:13px 25px;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.primary-btn:hover{

transform:translateY(-3px);

box-shadow:0 10px 25px rgba(124,58,237,.4);

}

.section-title{

font-size:34px;

font-weight:700;

margin-bottom:10px;

}

.section-sub{

color:#CFCFD5;

margin-bottom:30px;

}

.card{

background:#17171F;

padding:25px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.25);

}

input{

width:100%;

padding:14px;

background:#20202A;

border:1px solid rgba(255,255,255,.08);

border-radius:12px;

color:white;

margin-top:8px;

margin-bottom:18px;

}

select{

width:100%;

padding:14px;

background:#20202A;

border:1px solid rgba(255,255,255,.08);

border-radius:12px;

color:white;

margin-top:8px;

margin-bottom:18px;

}

input:focus,
select:focus{

border:1px solid #7C3AED;

box-shadow:0 0 12px rgba(124,58,237,.5);

}