:root{

--primary:#7C3AED;
--primary-dark:#5B21B6;

--secondary:#F97316;

--success:#22C55E;

--danger:#EF4444;

--warning:#FACC15;

--bg:#0D0D12;

--surface:#17171F;

--card:#1E1E28;

--glass:rgba(255,255,255,.08);

--text:#FFFFFF;

--text2:#CFCFD5;

--border:rgba(255,255,255,.12);

--shadow:0 15px 35px rgba(0,0,0,.35);

--radius:18px;

--transition:.3s;

}